<div>
  <h1>Quote Collection</h1>
  <hr>
  <ul>
      <li *ngFor='let quote of quotes; let i = index'>
        <p>{{quote.name}}</p>
        <p>{{quote.score}}</p>
        <p>{{quote.uploadDate|dateCount}} days ago</p>
        <button (click)='appreciateClick(i)'>Appreciate🙏</button>
        <button (click)='dislikeClick(i)'>Dislike👎 </button>
        <button (click)='toggleInfo(i)'>Toggle Information</button>
        <div *ngIf='quote.showInfo'>
          <app-quote-info (toDispose)='disposeQuote($event, i)'  [quote]='quote'></app-quote-info><!-- binding the property from quote to quote info -->
        </div>
      </li>
  </ul>
  <app-quote-form></app-quote-form>
</div>